body {
    display: flex;
    max-width: 100vw;
    flex-grow: 1;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    z-index: 1;
}

header {
    display: flex;
    flex-direction: column;
    font-family: helvetica;
    background-image: url("../img/fundo3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.font-opensans{
    font-family: 'Open Sans', sans-serif;
}

.text-light{
    color: rgb(197, 194, 194);
}

.mask-image{
    max-width: 100vw;
    min-height: 55vh;
    padding-bottom: 3%;
    background-color: rgba(0,0,0,0.6);
}

.bg-gray {
    background-color: #DEEFE7;
}

@media (max-width: 480px){ 
    header{
        width: 100vw;
    }

    .mask-image{
        height: auto;
        max-width: 100vw;
    }
    
    .lead_inicial{
        display: flex;
        flex-direction: column;
        padding: 0px 20px 0 20px!important;
    }

}
